@import "tailwindcss";

:root {
    --dark: #171717;
    --light: #fff;
}

html, body {
    text-align: center;
    background-color: var(--light);
    background-image: url("../public/backgrounds/labubu.webp");
}

@layer utilities {
    .bg-dark {
        background-color: var(--dark);
    }
    .bg-light {
        background-color: var(--light);
    }
}